<div class="menu-container row no-gutters">
<div class="menu-item-container row no-gutters">
    <div class="menu-item-logo">
        <img class="menu-logo" src="https://github.com/davoseaworthui/myrabolo/blob/7fa690494f3a1a5dd1750de7b8e815c5a1f6dec9/src/assets/myra%20logo@2x.png"> 
    </div>
    <nav class="menu-wrapper">
        <ul class="menu-list">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
            <input class="menu-search" type="text" placeholder="&#xF002; Search" style="font-family:Nunito, FontAwesome" />    
            <li>About Me</li>
            <li>Some of My Works</li>
            <li>Let's Talk!</li>
            <li>Upcoming Events</li>
            <li>What People Say About Me</li>
            <li>Day to Day Stuff</li>
        </ul>
    </nav>
</div>
</div>