/*
body {
  width: 100%;
  font-family: "Nunito", "Roboto", sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  font-family: "Nunito", "Roboto", sans-serif;
}
h1 {
  font-size: 3em;
  font-weight: 100;
  line-height: 1.2;
  font-family: "DM Serif Display", "Bodoni", serif;
}
label,
span {
  margin: 0;
  font-family: "Nunito", "Roboto", sans-serif;
  font-size: 1.3em;
  font-stretch: semi-condensed;
}
p {
  margin: 0;
  font-family: "Nunito", "Roboto", sans-serif;
  font-size: 1.1em;
}
button {
  font-family: "Nunito", "Roboto", sans-serif;
  padding: 10px;
  min-width: 200px;
  font-size: 20px;
  min-height: 60px;
  border: none;
}
button:hover {
  border-bottom: 3px solid rgba(28, 110, 164, 0.24);
}
.mat-icon {
  padding-top: -20px;
  color: white;
  font-size: 12px;
  padding: 6px;
  border-radius: 50%;
  background-color: #68ceb2;
}
 for refacotirng */
