.banner {
  height: 80%;
  padding: 5% 3% 0 3%;
}
.banner-intro {
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff9f;
  padding: 17px;
  position: relative;
  z-index: 20;
}
.banner-intro h2 {
  font-weight: 200;
}
.banner-intro p {
  font-weight: 100;
}
.banner-quote {
  font-size: 3em;
  font-family: "DM Serif Display", "Bodoni", serif;
  width: 90%;
  margin: 0 auto;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 120px;
  border-left: 8px solid #316d9f;
  line-height: 1.6;
  position: relative;
  background: #adb4da49;
  font-weight: 100;
  z-index: 10;
}
.banner-quote::before {
  font-family: Arial;
  content: "\201C";
  color: #316d9f;
  font-size: 4em;
  position: absolute;
  font-weight: 100;
  left: 10px;
  top: -10px;
}
.banner-quote::after {
  content: "";
}
.banner-image {
  width: 120%;
  float: right;
  z-index: 0;
}
