 <section>
    <div class="section-wrapper">
      <h1 class="section-header">I think I can help you, whether it be…</h1>
      <div class="banner-services">
        <div class="banner-service col-xs-12"><div>One-on-one
          Life Coaching </div></div>
        <div class="banner-service col-xs-12"><div>Group Coaching</div></div>
        <div class="banner-service col-xs-12"><div>Workshops</div></div>
      </div>
      <div class="banner-cto">
        <h2>I’m pretty sure you have something in mind.</h2>
        <button>Let's Talk!</button>
      </div>
      
    </div>
  </section>