.section-header {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}
.banner-services {
  display: flex;
  flex-direction: row;
  padding: 0 5% 0 5%;
}
.banner-service {
  text-align: center;
  width: 33%;
  height: 410px;
  margin: 10px;
  padding-top: 360px;
  align-items: center;
  font-family: "Nunito", "Roboto", sans-serif;
  box-shadow: 0px 1px 12px 0px rgba(36, 25, 25, 0.055);
}
.banner-service:nth-child(1) {
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/banner 1.jpg");
}
.banner-service:nth-child(2) {
  background-size: contain;
  background-position: top;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/banner 2.jpg");
}
.banner-service:nth-child(3) {
  background-size: 140% 140%;
  background-position: center;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/banner 3.jpg");
}
.banner-service div {
  width: 100%;
  font-size: 2em;
  height: 50px;
  line-height: 1.5;
  color: white;
}
.banner-service:nth-child(2) div {
  background-color: #555adf;
}
.banner-service:nth-child(3) div {
  background-color: #5a9ecc;
}
.banner-cto {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.banner-cto button {
  background-color: #68ceb2;
  color: white;
}
